.winnings-table__table {
  background-color: var(--white);
  border-radius: 12px;
  overflow: hidden;

  table {
    table-layout: fixed;
  }

  td {
    font-size: 13px;
  }
}

.winnings-table__table-text {
  max-width: 340px;
  margin: 6px auto 0;
}

.winnings-table__table-jackpot {
  font-family: var(--font-family);
  font-size: 11px;
  text-align: center;
}